<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--	<bean id="alien1" class="org.example.Alien" scope="singleton">  -->

    <bean id="alien" class="org.example.Alien" autowire="byName">
<!--        <property name="computer" ref="lap1"/>-->
<!--        <property name="computer" ref="desktop"/>-->
<!--        <property name="computer" ref="computer"/>-->
        <property name="age" value="21"/>
        <!--	<constructor-arg value="21"></constructor-arg>
                <constructor-arg ref="lap1"></constructor-arg> -->

        <!--	<constructor-arg type="org.example.Laptop" ref="lap1"/>
                <constructor-arg type="int" value="21"/> -->

        <!--	<constructor-arg index="1" ref="lap1"/>
                <constructor-arg index="0" value="21"/> -->

        <!--        <constructor-arg name="lap" ref="lap1"/>-->
        <!--        <constructor-arg name="age" value="21"/>-->
    </bean>

<!--    <bean id="lap1" class="org.example.Laptop">-->
<!--    </bean>-->

<!--    <bean id="lap2" class="org.example.Laptop">-->
<!--    </bean>-->

<!--    <bean id="desktop" class="org.example.Desktop"/>-->
    <bean id="computer" class="org.example.Laptop"/>
<!--    <bean id="computer" class="org.example.Desktop"/>-->
</beans>